<%= @school.name %>

<form action="/schools/<%= @school.id %>" method="post">
		<input type="text" id="school_name" name="school[name]" value="<%= @school.name %>">
		<input type="text" id="school_location" name="school[location]" value="<%= @school.location %>">
		<input type="hidden" name="_method" value="put" /> 
		<input type="submit">
</form>