<%= @life_event.description %>

<form action="/life_events/<%= @life_event.id %>" method="post">
		<input type="text" id="life_event_description" name="life_event[description]" value="<%= @life_event.description %>">
		<input type="hidden" name="_method" value="put" /> 
		<input type="submit">
</form>