<form action="/schools" method="post">
		<input type="text" id="school_name" name="school[name]" value="<%= @new_school.name %>">
		<input type="text" id="school_location" name="school[location]" value="<%= @new_school.location %>">
		<input type="submit">
	</form>